.nav{
    background-color: #1E1E1E;
    height: 54px;
    position: sticky;
    text-align: right;
}
.placement{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 130px;
    height: 46px;
    margin-left: 38px;
    padding-top: 7px;
}
.navbar div li{
display: inline-block;
    margin-right: 2.5rem;
    color:#FFFFFF;
    font-size: 0.9375rem;

}
li{
    color:#FFFFFF ;
    font-size: 0.9375rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
ul.navbar{padding: 1.5rem;
    padding-top: 1rem;
    padding-right: 0;
}
@media (min-width: 1000px) {
    .hamburger{
      display: none;
    }
    ul.Horizontal-list{
        display: none;
    }
    .logo{
        width: 130px;
        height: 46px;
        margin-left: 38px;
        padding-top: 7px;
    }
}
@media (max-width: 1000px) {
    .navItems{
        display: none;
    }
    ul.Horizontal-list{
        display: none;
    }
}
@media (max-width: 600px){
    .logo{
        width: 81px;
        height: 41px;
        margin-left: 19px;
        padding-top: 14px;
    }
    ul.Horizontal-list{
        display: none;
    }
}
.hamburger{
    position: fixed;
    width: 22px;
    height: 19px;
    top: 16px;
    right: 38px;

}
@media (min-width: 1000px) {
    .hidden-sm {
        display: none;
    }
}

.drop-down{
    position: fixed;
    right: 0;
    top: 54px;
    background-color: #1E1E1E;
    height:17rem;
    width: 12rem;
}
